- blog_posting = blog.blog_posting(current_path)

.article
  %h1= titleize(humanize(blog_posting.name))
  %h3
    %span.author= "Created by: #{blog_posting.author}"
    %span.date-created= "Published on: #{blog_posting.date_created}"
  .article-body= blog_posting.article_body
