.sidebar
  %ul
    %li
      %h2 Categories
      %ul
        - blog.categories.each do |k, v|
          %li=link_to "#{titleize(humanize(k))} (#{v.count})", v.path
    %li
      %h2 Archives
      %ul
        - blog.archives.each do |k, v|
          %li=link_to "#{titleize(humanize(k))} (#{v.count})", v.path
    %li
      %h2 Tags
      %div
        - blog.tags.each do |k, v|
          =link_to k, v.path, style: "font-size: #{font_size_for_tag(v)}px;", title: "#{v.count} blog posting#{"s" if v.count > 1}"
