- blog.categories.each do |k, v|
  - if k == @category_name
    - v.blog_postings.each do |url, p|
      .article
        %h1=link_to titleize(humanize(p.name)), p.url
        %p
          %span.author= "Created by: #{p.author}"
          %span.date-created= "Published on: #{p.date_created}"
        %div= p.description
        %div=link_to 'READ MORE', p.url

